<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hacker News</title>
<script src="https://code.angularjs.org/1.2.13/angular.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

<script type="text/javascript"
	src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js'></script>

<script src="js/app.js"></script>
<script src="js/home.js"></script>
<link rel="stylesheet" href="css/styles.css">

<link href='https://fonts.googleapis.com/css?family=Raleway'
	rel='stylesheet' type='text/css'>
</head>
<body ng-app="hackerNews" ng-controller="homeController">

	<div class="container">
		<div class="jumbotron">
			<span class="glyphicon glyphicon-bullhorn" style="font-size: 130px;"></span>
			<h1>Xoriant HackerNews — Listing the best HackerNews articles!</h1>
			<span id="sorticon" class="" aria-hidden="true"></span>
		</div>
		<div class="search-container">
			<div class="search-icon-btn">
				<i class="fa fa-search"></i>
			</div>
			<div class="search-input">
				<input type="search" class="search-bar"
					placeholder="Search from list" ng-model="searchText.data">
			</div>
		</div>
		<div class=sorticon>
			<span type="search" class="glyphicon glyphicon-sort"
				data-toggle="tooltip" title="Sort the list" ng-click="sort()"></span>
		</div>
		<ui-view></ui-view>

	</div>
	<div id="next">
		<span  class="glyphicon glyphicon-forward"
			data-toggle="tooltip" title="Next" ng-click="nextPage(currentPage)"></span>
	</div>
	<div id="previous" >
		<span class="glyphicon glyphicon-backward"
			data-toggle="tooltip" title="Previous"
			ng-click="nextPage(currentPage-2)"></span>
	</div>
</body>
</html>