<div ng-repeat="item in aCandidates | orderBy: orderVariable.data | filter : searchText.data">
	<div class="wrapper">
			<div class="card flip" ng-init="abc=false" ng-click="abc=!abc" ng-class="{'flipnotchecked':abc,'flipchecked':!abc}">
			
				<div class="front">
					<div class="front_bg">{{item.title}}</div>
					<div class="strip"></div>
					<div class="left_side"></div>
					<div class="right_side"></div>
					<div class="name">
						<span>{{item.title}}</span>
					</div>
					<div class="profession"><span><strong>Author: </strong> </span>{{item.author}}</div>

				</div>

				<div class="back">

					<div class="left_back"></div>
					<div class="item">
						<span class="id">Id</span>
						<span>{{item.id}}</span>
					</div>
					<div class="item">
						<span class="created">Created on</span>
						<span>{{item.created_at}}</span>
					</div>
					<div class="item">
						<span class="comments">Comments</span>
						<span>{{item.num_comments}}</span>
					</div>
					<div class="item">
						<span class="points">Points</span>
						<span>{{item.num_points}}</span>
					</div>
					<div class="item">
						<a href="{{item.url}}" target="_blank">Click here to read it</a>
					</div>
				</div>
			</div>
	</div>
</div>
