* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  line-height: 1.618em;
  color: #444;
  background-color: #2c2c2c;
  background-image: repeating-radial-gradient(
    circle,
    #3a3a3a, #3a3a3a 45%,
    transparent 45%, transparent 60%,
    #3a3a3a 60%, #3a3a3a 100%
  );
  background-size: 10px 10px;
}

a {
  text-decoration: none;
}
.wrapper {
    max-width: 50rem;
    width: 50%;
    margin: 5rem auto;
    text-align: center;
    display: inline-block;
    float: left;
}
.flip {
  display: none;
}
.card {
  padding: 0;
  display: block;
  width: 32rem;
  height: 20rem;
  margin: 0 auto;
  transform-style: preserve-3d;
}
.flipchecked {
  transform: rotateY(0deg);
  transition: transform 0.25s;
}
.flipnotchecked{
  transform: rotateY(180deg);
  transition: transform 0.25s;
}
.front,
.back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0,0,0,0.2) 0 0 3rem 0, rgba(0,0,0,0.1) 0 0 1rem 0;
}
.front {
  transform: translateZ(2px);
  background: #2d5077;
  border-radius: 2rem 0;
  color: #cddbea;
}
.front:after {
  content: 'CLICK TO FLIP';
  background: #2d5077;
  white-space: nowrap;
  position: absolute;
  top: 6rem;
  bottom: 6rem;
  left: 5.5rem;
  right: 5.5rem;
  font-size: 2rem;
  font-weight: 800;
  line-height: 128px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s;
}
.front:hover:after {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.35s;
}
.front_bg {
  position: absolute;
  left: -2.7rem;
  top: -1rem;
  font-weight: 800;
  font-style: italic;
  font-size: 30rem;
  line-height: 20rem;
  letter-spacing: -0.09em;
  color: rgba(255,255,255,0.04);
}
.name {
  position: absolute;
  top: 8rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}
.name span {
  font-weight: 800;
}
.profession {
  position: absolute;
  top: 18rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.strip {
  position: absolute;
  top: 6rem;
  bottom: 6rem;
  left: 0;
  right: 0;
  background: #2d5077;
}
.left_side,
.right_side {
  position: absolute;
  top: 7rem;
  bottom: 7rem;
  width: 0.25rem;
  background: #3a5c81;
}
.left_side {
  left: 4.5rem;
}
.right_side {
  right: 4.5rem;
}
.back {
  border-radius: 0 2rem;
  transform: translateZ(-2px) rotateY(180deg);
  background: #fff;
  border: 1px solid #2d5077;
  padding-top: 1.7rem;
}
.left_back {
  background: #41c4f4;
  position: absolute;
  top: 0;
  left: -1rem;
  bottom: 0;
  width: 14.5rem;
}
.item {
  position: relative;
  margin-left: 5.5rem;
  text-align: left;
  font-size: 1.65rem;
  font-weight: 700;
  line-height: 2em;
  z-index: 1;
}
.item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  background: #2d5077;
  z-index: -1;
  transition: width 0.35s;
}
.item:hover::before {
  width: 30rem;
  transition: width 0.35s;
}
.item::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  right: 23.35rem;
  bottom: 0;
  background: #34587f;
  z-index: -1;
  transition: width 0.35s;
}
.item:hover::after {
  width: 9rem;
  transition: width 0.35s;
}
.item:hover a {
  color: #cddbea;
  transition: color 0.35s;
}
.item a {
  color: #2d5077;
  transition: color 0.35s;
}
.item:hover .fa {
  color: #fff;
  transition: color 0.35s;
}
.fa {
  width: 2em;
  text-align: center;
  margin-right: 2em;
  color: #cddbea;
  transition: color 0.35s;
}
.jumbotron{
	background: #41c4f4;
	height: 50%;
}
.jumbotron .h1, .jumbotron h1{
	font-size: 40px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 5px solid #444;
}
.search-container *,
.search-container *:after,
.search-container *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* search bar focus */
.search-container *:focus {
  background: #fbfbfb;
  color: #333333;
  outline: 0;
}

/* search bar container */
.search-container {
  display: table;
  position: relative;
  width: 51px;
}

/* search icon button */
.search-icon-btn {
  background-color: #444;
  display: table-cell;
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 50px;
  z-index: 2;
}

/* search bar input container */
.search-input {
  position: absolute;
  left: 0;
  z-index: 1;
}

/* search bar input */
.search-input input.search-bar {
  border: 1px solid #cccccc;
  height: 50px;
  padding: 0px;
  width: 50px;
}
.search-input input.search-bar:focus {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}

/* transition effect */
.search-input input.search-bar,
.search-icon-btn {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* hover on search bar container */
.search-container:hover > .search-input input.search-bar {
  padding-left: 60px;
  padding-right: 10px;
  width: 200px;
}

.sorticon{
	color: white;
	font-size: 20px;
	margin-top: 2%;
}

.id {
    margin-left: -1%;
    margin-right: 31%;
}

.created {
    margin-left: -2%;
    margin-right: 8%;
}

.comments {
    margin-right: 9%;
    margin-left: -1%;
}

.points {
    margin-right: 21%;
    margin-left: -1%;
}

#next {
    margin-left: 95%;
    margin-bottom: 50%;
    margin-top: -50%;
    font-size: 40px;
    color: white;
}

#previous {
    margin-right: 95%;
    /* margin-bottom: 50%; */
    margin-top: -53%;
    font-size: 40px;
    color: white;
    float: left;
}